<div class="login-page">
  <div class="login-container">
    <form class="login-form">
      <h2 class="login-title">Registration</h2>
      <mat-form-field appearance="outline" class="login-input">
        <mat-label>UserName</mat-label>
        <input matInput required [formControl]="username" />
        <button
          mat-icon-button
          matSuffix
          type="button"
          #tooltip="matTooltip"
          matTooltip="Entered username is not available"
          matTooltipPosition="right"
          matTooltipHideDelay="300"
        >
          <mat-icon style="color: #ff4081">info</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="outline" class="login-input">
        <mat-label>Email</mat-label>
        <input matInput type="email" [formControl]="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="login-input">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          [formControl]="password"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'hide password'"
          [attr.aria-pressed]="hidePassword"
          type="button"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="password.hasError('minlength')">
          Min Length should be 8 characters</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="outline" class="login-input">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          [type]="hideConfirmPassword ? 'password' : 'text'"
          [formControl]="confirmPassword"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hideConfirmPassword = !hideConfirmPassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideConfirmPassword"
          type="button"
        >
          <mat-icon>{{
            hideConfirmPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
        <mat-error *ngIf="confirmPassword.hasError('passwordNotMatched')">
          Password is not same</mat-error
        >
      </mat-form-field>

      <button
        class="login-button"
        mat-flat-button
        color="primary"
        [disabled]="!userFormGroup.valid"
        type="button"
        (click)="onRegisterClick()"
      >
        Register
      </button>
    </form>
  </div>
</div>
