@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
  margin: 0px;
}

.login-title {
  font-family: system-ui;
  color: slategray;
  font-size: 32px;
  margin-top: 0px;
}

.login-page {
  display: flex;
  background-color: #f2f2f2;
  width: 100%;
  height: 100vh;
}

.login-container {
  margin: auto;
  width: min-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.login-input {
  width: 225px;
}

.login-button {
  height: 42px;
  width: 50%;
  font-size: medium;
  font-family: system-ui;
}

// Mat error styling
.mat-form-field-subscript-wrapper {
  padding: 0 6px;
  margin-top: 3px;
}
