<div class="login-page">
  <div class="login-container">
    <form class="login-form">
      <h2 class="login-title">CRM Login!</h2>
      <mat-form-field appearance="outline" class="login-input">
        <mat-label>UserName</mat-label>
        <input [formControl]="username" matInput required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="login-input">
        <mat-label>Password</mat-label>
        <input
          [formControl]="password"
          matInput
          [type]="hide ? 'password' : 'text'"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          type="button"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <button class="login-button" mat-flat-button color="primary">
        Login
      </button>

      <div class="hyperLink">
        <a href="/register">create a new account</a>
      </div>
    </form>
  </div>
</div>
